version: "2"
services:

  consul:
    command: -server -bootstrap
    image: gliderlabs/consul-server
    mem_limit: 128m
    ports:
      - "8300"
      - "8400"
      - "8500:8500"
      - "53"

  nginx:
    image: openlmis/nginx:1
    env_file: .env
    links: [consul]
    mem_limit: 128m
    # Note: network_mode: host will break the build since we're using container communication

  referencedata:
    image: openlmis/referencedata:5.0.0-SNAPSHOT
    env_file: .env
    mem_limit: 512m
    environment:
      JAVA_OPTS: '-Xmx256m -Dlogging.config=/logback.xml -Dflyway.locations=classpath:db/migration,filesystem:/demo-data'
    volumes:
      - './logback.xml:/logback.xml'
    depends_on: [log]

  auth:
    image: openlmis/auth:3.0.2-SNAPSHOT
    env_file: .env
    mem_limit: 512m
    environment:
      JAVA_OPTS: '-Xmx256m -Dlogging.config=/logback.xml -Dflyway.locations=classpath:db/migration,filesystem:/demo-data'
    volumes:
      - './logback.xml:/logback.xml'
    depends_on: [log]


  db:
    mem_limit: 256m
    image: openlmis/postgres:9.6
    env_file: .env
    depends_on: [consul]

  log:
    mem_limit: 128m
    image: openlmis/rsyslog:1
    volumes:
      - '../logs/requisition:/var/log'
    depends_on: [consul]
